.contact{
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-item{
  width: 1.6rem;
  margin: 1rem;
  color: var(--white-01);
  fill: var(--white-01);
  transition: transform 0.4s;
}

.contact-item:hover{
  transform: scale(1.1) rotateZ(5deg);
}

@media all and (max-width: 480px){
  .contact{
    grid-template-columns: 1fr 1fr;
  }
  .contact-item{
    padding: 1rem;
  }
}